* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-red: #E3646E;
  --main-purple: #BB72E9;
  --main-blue: #3996DB;
  --main-green: #82BC4F;
  --main-yellow: #EABD5F;
  --gray-100: #0D0E11;
  --gray-200: #16181D;
  --gray-300: #292C34;
  --gray-400: #878EA1;
  --gray-500: #C0C4CE;
  --gray-600: #E2E4E9;

  --title-lg: 600 56px/120% "Asap", sans-serif;  
  --title-md: 600 24px/120% "Asap", sans-serif;
  --title-sm: 600 16px/120% "Asap", sans-serif;
  --subtitle: 500 20px/120% "Inconsolata", monospace;
  --text-md: 500 16px/140% "Maven Pro", sans-serif;
  --text-sm: 500 14px/140% "Maven Pro", sans-serif;
}

body {
  background-color: var(--gray-400);
  color: var(--gray-500);
  width: 50%;
  margin: 0 auto;
  max-width: 750px;
  max-height: 1280px;
}

.container {
  min-width: 750px;
  max-width: 100%;
  margin-inline: auto;
  justify-content: center;
}
